.beforeElement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: #1f1f1f;
}

.bottomLine::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 0.5px;

  background-color: #1f1f1f;
}
