.topBtn {
  position: fixed;
  bottom: 30px;
  right: 110px;
  background-color: var(--gray-900);
  padding: 8px;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
}

.topBtn.active {
  opacity: 1;
}
